$font-family: 'Poppins', sans-serif;
$main-color: #217dbb;
$main-color-light: rgba(33, 125, 187, 0.2);
$optional-color: #ff612f;
$black-color: #2b4486;
$white-color: #ffffff;
$paragraph-color: #4a6f8a;
$font-size: 16px;
$transition: .5s;
