.othersOptions__c {
    display: flex;
    align-items: center;
}

.navItemLink__c{
    padding-top: 25px;
    padding-bottom: 25px;
}

.navbarArea__c {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
