/*
@File: Hepro Template Styles

* This file contains the styling for the actual template, this
is the file you need to edit to change the look of the
template.

This files table contents are outlined below>>>>>

*******************************************
*******************************************

** - Default CSS
** - Preloader Area CSS
** - Navbar Area CSS
** - Partner Area CSS
** - About Area CSS
** - Partner Area CSS
** - Services Area CSS
** - Video Presentation Area CSS
** - FunFacts Area CSS
** - Features Area CSS
** - Team Area CSS
** - Feedback Area CSS
** - Pricing Area CSS
** - FAQ Area CSS
** - App Download Area CSS
** - Our Loving Clients Area CSS
** - Blog Area CSS
** - Blog Details Area CSS
** - Page Title Area CSS
** - 404 Error Area CSS
** - Pagination Area CSS
** - Sidebar Widget Area CSS
** - Index Area CSS
** - Signup Area CSS
** - Features Area CSS
** - Free Trial Area CSS
** - Contact Area CSS
** - Footer Area CSS
** - Go Top CSS
*/
/*================================================
Default CSS
=================================================*/
body {
  color: #2b4486;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}

a {
  transition: 0.5s;
  color: #2b4486;
  text-decoration: none;
  outline: 0 !important;
}
a:hover {
  text-decoration: none;
  color: #217dbb;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

button, input {
  outline: 0 !important;
}

img {
  max-width: 100%;
  height: auto;
}

.d-table {
  width: 100%;
  height: 100%;
}
.d-table-cell {
  vertical-align: middle;
}

.bg-f4f6fc {
  background-color: #f4f6fc;
}

.bg-f8fbfa {
  background-color: #f8fbfa;
}

.bg-f4f5fe {
  background-color: #f4f5fe;
}

.bg-f4e9da {
  background-color: #f4e9da;
}

.bg-f9f9f9 {
  background-color: #f9f9f9;
}

.ptb-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.ptb-110 {
  padding-top: 110px;
  padding-bottom: 110px;
}

.pt-180 {
  padding-top: 180px;
}

.pb-150 {
  padding-bottom: 150px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pt-70 {
  padding-top: 70px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pl-20 {
  padding-left: 20px;
}

.tx-center {
  text-align: center;
}

.mwidth-1000 {
  max-width: 1000px !important;
}

.max-width-1290 {
  max-width: 1290px;
}

.img-fw {
  width: 100%;
}

.bg-f9f9f9 {
  background-color: #f9f9f9;
}

.blt-radius-0 {
  border-radius: 0px 30px 30px 30px !important;
}

p {
  color: #4a6f8a;
  margin-bottom: 12px;
  line-height: 1.8;
  font-size: 16px;
}
p:last-child {
  margin-bottom: 0;
}

.border-radius-0 {
  border-radius: 0 !important;
}

.mr-3 {
  margin-right: 15px;
}

.mb-80 {
  margin-bottom: 80px;
}

/* Section title */
.section-title {
  text-align: center;
  max-width: 575px;
  margin-left: auto;
  margin-bottom: 80px;
  margin-right: auto;
}
.section-title h2 {
  margin-bottom: 0;
  font-size: 40px;
  font-weight: 600;
}
.section-title h2 span {
  display: inline-block;
  color: #ff612f;
}
.section-title.text-left {
  max-width: 576px;
  margin-left: 0;
  margin-right: 0;
}
.section-title.text-left .sub-title {
  font-weight: 600;
  color: #ff612f;
  display: block;
  margin-bottom: 10px;
}

/* default-btn&optional-btn */
.default-btn {
  border: none;
  position: relative;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  z-index: 1;
  color: #ffffff;
  background-color: #ff612f;
  transition: 0.5s;
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  padding-left: 50px;
  padding-right: 25px;
  padding-top: 13px;
  padding-bottom: 13px;
}
.default-btn i {
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  transition: 0.5s;
  color: #ffffff;
}
.default-btn span {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #217dbb;
  transition: width 0.6s ease-in-out, height 0.5s ease-in-out;
  transform: translate(-50%, -50%);
  z-index: -1;
  border-radius: 5px;
}
.default-btn:hover, .default-btn:focus {
  color: #ffffff;
}
.default-btn:hover span, .default-btn:focus span {
  width: 225%;
  height: 562.5px;
}

.optional-btn {
  border: none;
  position: relative;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  z-index: 1;
  color: #2b4486;
  background-color: transparent;
  transition: 0.5s;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  padding-left: 55px;
  padding-right: 30px;
  padding-top: 13px;
  padding-bottom: 13px;
}
.optional-btn i {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  transition: 0.5s;
  color: #2b4486;
}
.optional-btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid #2b4486;
  transition: 0.5s;
}
.optional-btn span {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #ff612f;
  transition: width 0.6s ease-in-out, height 0.5s ease-in-out;
  transform: translate(-50%, -50%);
  z-index: -1;
  border-radius: 5px;
}
.optional-btn:hover, .optional-btn:focus {
  color: #ffffff;
}
.optional-btn:hover::before, .optional-btn:focus::before {
  border-color: #ff612f;
}
.optional-btn:hover span, .optional-btn:focus span {
  width: 225%;
  height: 562.5px;
}

.dim-layer::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.4;
}

.body-freeze {
  overflow: hidden;
}

/*================================================
Preloader Area CSS
=================================================*/
.preloader-area {
  position: fixed;
  top: 0;
  background-color: #217dbb;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  text-align: center;
}
.preloader-area .spinner {
  width: 4em;
  height: 4em;
  transform: perspective(20em) rotateX(-24deg) rotateY(20deg) rotateZ(30deg);
  transform-style: preserve-3d;
  position: absolute;
  left: 0;
  right: 0;
  top: 45%;
  transform: translateY(-45%);
  margin-left: auto;
  margin-right: auto;
}
.preloader-area .spinner .disc {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 0.3em dotted #ffffff;
}
.preloader-area .spinner .disc:nth-child(1) {
  animation: rotate 12s linear infinite;
}
.preloader-area .spinner .disc:nth-child(2) {
  animation: rotateDisc2 12s linear infinite;
}
.preloader-area .spinner .disc:nth-child(3) {
  animation: rotateDisc3 12s linear infinite;
}
.preloader-area .spinner .inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: sphereSpin 6s linear infinite;
}
.preloader-area .spinner::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  right: 0;
  bottom: 0;
  border: 2px dotted #ffffff;
  margin: -15px;
}

@keyframes sphereSpin {
  0% {
    transform: rotateX(360deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(0deg) rotateY(360deg);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotateDisc2 {
  from {
    transform: rotateX(90deg) rotateZ(0deg);
  }
  to {
    transform: rotateX(90deg) rotateZ(360deg);
  }
}
@keyframes rotateDisc3 {
  from {
    transform: rotateY(90deg) rotateZ(0deg);
  }
  to {
    transform: rotateY(90deg) rotateZ(360deg);
  }
}
.preloader-deactivate {
  display: none;
}

/*================================================
Navbar Area CSS
=================================================*/
.navbar-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  height: auto;
  z-index: 1040;
}
.navbar-area.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
  background-color: #ffffff !important;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  padding-top: 0;
  padding-bottom: 0;
}
.navbar-area.is-sticky .main-nav .navbar .others-options .optional-btn {
  color: #2b4486;
}
.navbar-area.is-sticky .main-nav .navbar .others-options .optional-btn i {
  color: #2b4486;
}
.navbar-area.is-sticky .main-nav .navbar .others-options .optional-btn::before {
  border-color: #2b4486;
}
.navbar-area.is-sticky .main-nav .navbar .others-options .optional-btn:hover, .navbar-area.is-sticky .main-nav .navbar .others-options .optional-btn:focus {
  color: #ffffff;
}
.navbar-area.is-sticky .main-nav .navbar .others-options .optional-btn:hover i, .navbar-area.is-sticky .main-nav .navbar .others-options .optional-btn:focus i {
  color: #ffffff;
}
.navbar-area.navbar-style-two {
  background-color: #ffffff;
}
.navbar-area.navbar-style-two.is-sticky {
  position: fixed;
}
.navbar-area.navbar-style-two .main-nav .navbar .navbar-nav {
  margin-left: auto;
}
.navbar-area.navbar-style-two .main-nav .navbar .others-options {
  margin-left: 25px;
}
.navbar-area.navbar-style-two .main-nav .navbar .others-options .optional-btn {
  color: #2b4486;
}
.navbar-area.navbar-style-two .main-nav .navbar .others-options .optional-btn i {
  color: #ff612f;
}
.navbar-area.navbar-style-two .main-nav .navbar .others-options .optional-btn::before {
  border-color: #2b4486;
}
.navbar-area.navbar-style-two .main-nav .navbar .others-options .optional-btn:hover, .navbar-area.navbar-style-two .main-nav .navbar .others-options .optional-btn:focus {
  color: #ffffff;
}
.navbar-area.navbar-style-two .main-nav .navbar .others-options .optional-btn:hover i, .navbar-area.navbar-style-two .main-nav .navbar .others-options .optional-btn:focus i {
  color: #ffffff;
}

.navbar-area + section {
  margin-top: 74px !important;
}

.navbar-brand__logo-wrap {
  display: inline-block;
  width: 60px;
  margin-right: 15px;
}

.main-nav {
  background-color: transparent;
}
.main-nav .navbar {
  background-color: transparent;
  padding-right: 0;
  padding-top: 0;
  padding-left: 0;
  padding-bottom: 0;
}
.main-nav .navbar .navbar-brand {
  padding: 0;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
}
.main-nav .navbar .navbar-brand__logo-wrap {
  display: inline-block;
  width: 60px;
  margin-right: 15px;
}
.main-nav .navbar ul {
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 0;
}
.main-nav .navbar .navbar-nav {
  margin-left: 110px;
}
.main-nav .navbar .navbar-nav .nav-item {
  position: relative;
  padding: 0;
  /* Mega dropdown menu */
}
.main-nav .navbar .navbar-nav .nav-item a {
  font-size: 16px;
  font-weight: 500;
  color: #4a6f8a;
  padding-left: 0;
  padding-right: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: 13px;
  margin-right: 13px;
}
.main-nav .navbar .navbar-nav .nav-item a:hover, .main-nav .navbar .navbar-nav .nav-item a:focus, .main-nav .navbar .navbar-nav .nav-item a.active {
  color: #217dbb;
}
.main-nav .navbar .navbar-nav .nav-item a i {
  font-size: 16px;
  position: relative;
  top: 2px;
  display: inline-block;
  margin-left: -3px;
  margin-right: -3px;
}
.main-nav .navbar .navbar-nav .nav-item:last-child a {
  margin-right: 0;
}
.main-nav .navbar .navbar-nav .nav-item:first-child a {
  margin-left: 0;
}
.main-nav .navbar .navbar-nav .nav-item:hover a, .main-nav .navbar .navbar-nav .nav-item.active a {
  color: #217dbb;
}
.main-nav .navbar .navbar-nav .nav-item .dropdown-menu {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  position: absolute;
  border: none;
  top: 80px;
  left: 0;
  width: 250px;
  z-index: 99;
  display: block;
  opacity: 0;
  visibility: hidden;
  border-radius: 0;
  transition: all 0.3s ease-in-out;
  margin-top: 20px;
  border-top: 2px solid #217dbb;
  padding: 0;
}
.main-nav .navbar .navbar-nav .nav-item .dropdown-menu li {
  padding: 0;
}
.main-nav .navbar .navbar-nav .nav-item .dropdown-menu li a {
  padding: 13px 20px 11px;
  margin: 0;
  position: relative;
  color: #4a6f8a;
  border-bottom: 1px dashed #e5e5e5;
  font-size: 14px;
  font-weight: 500;
}
.main-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:hover, .main-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:focus, .main-nav .navbar .navbar-nav .nav-item .dropdown-menu li a.active {
  color: #217dbb;
}
.main-nav .navbar .navbar-nav .nav-item .dropdown-menu li a i {
  float: right;
}
.main-nav .navbar .navbar-nav .nav-item .dropdown-menu li a .new {
  position: absolute;
  top: 8px;
  right: -10px;
  background: red;
  color: #fff;
  font-size: 8px;
  padding: 0 3px;
  border-radius: 20px;
}
.main-nav .navbar .navbar-nav .nav-item .dropdown-menu li:last-child a {
  border-bottom: none;
}
.main-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
  left: -100%;
  top: 15px;
  opacity: 0;
  visibility: hidden;
}
.main-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a {
  color: #4a6f8a;
}
.main-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:hover, .main-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:focus, .main-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a.active {
  color: #217dbb;
}
.main-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu {
  left: 100%;
  top: 15px;
  opacity: 0;
  visibility: hidden;
}
.main-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: #4a6f8a;
}
.main-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .main-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .main-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: #217dbb;
}
.main-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
  left: -100%;
  top: 15px;
  opacity: 0;
  visibility: hidden;
}
.main-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: #4a6f8a;
}
.main-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .main-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .main-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: #217dbb;
}
.main-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
  left: -100%;
  top: 15px;
  opacity: 0;
  visibility: hidden;
}
.main-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: #4a6f8a;
}
.main-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .main-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .main-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: #217dbb;
}
.main-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
  left: -100%;
  top: 15px;
  opacity: 0;
  visibility: hidden;
}
.main-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: #2b4486;
}
.main-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .main-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .main-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: #ffffff;
  background-color: #217dbb;
}
.main-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
  left: -100%;
  top: 15px;
  opacity: 0;
  visibility: hidden;
}
.main-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: #2b4486;
}
.main-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .main-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .main-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: #ffffff;
  background-color: #217dbb;
}
.main-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
  color: #ffffff;
  background-color: #217dbb;
}
.main-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  top: 0;
}
.main-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
  color: #217dbb;
}
.main-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  top: 0;
}
.main-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
  color: #217dbb;
}
.main-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  top: 0;
}
.main-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
  color: #217dbb;
}
.main-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  top: 0;
}
.main-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li.active a {
  color: #217dbb;
}
.main-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  top: 0;
}
.main-nav .navbar .navbar-nav .nav-item .dropdown-menu li.active a {
  color: #217dbb;
}
.main-nav .navbar .navbar-nav .nav-item .dropdown-menu li:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  top: 0;
}
.main-nav .navbar .navbar-nav .nav-item:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  top: 100%;
  margin-top: 0;
}
.main-nav .navbar .navbar-nav .nav-item .mega-dropdown-menu {
  width: 500px;
  padding: 0 10px 5px;
}
.main-nav .navbar .navbar-nav .nav-item .mega-dropdown-menu h3 {
  font-size: 17px;
  margin-top: 20px;
  border-bottom: 1px dashed #e5e5e5;
  margin-bottom: 0;
  padding-bottom: 10px;
  position: relative;
}
.main-nav .navbar .navbar-nav .nav-item .mega-dropdown-menu h3::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  background: #217dbb;
  width: 30px;
  height: 1px;
}
.main-nav .navbar .navbar-nav .nav-item .mega-dropdown-menu .nav-item {
  width: 50%;
  float: left;
  padding: 0 10px;
}
.main-nav .navbar .navbar-nav .nav-item .mega-dropdown-menu .nav-item a {
  padding-left: 0;
  padding-right: 0;
  border-bottom: 1px dashed #e5e5e5 !important;
}
.main-nav .navbar .navbar-nav .nav-item .mega-dropdown-menu .nav-item a:last-child {
  border-bottom: none !important;
}
.main-nav .navbar .nav-item.disabled {
  cursor: not-allowed;
}
.main-nav .navbar .others-options .nav-link {
  display: flex;
  align-items: center;
  line-height: 1;
  font-size: 16px;
  font-weight: 500;
  color: #4a6f8a;
  padding-left: 0;
  padding-right: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: 50px;
  margin-right: 25px;
}
.main-nav .navbar .others-options .nav-link:hover, .main-nav .navbar .others-options .nav-link:focus, .main-nav .navbar .others-options .nav-link.active {
  color: #217dbb;
}
.main-nav .navbar .others-options .nav-link i {
  font-size: 20px;
  display: inline-block;
  margin-right: 5px;
}
.main-nav .navbar .others-options .default-btn {
  color: #ffffff;
  background-color: #217dbb;
}
.main-nav .navbar .others-options .default-btn i {
  color: #ffffff;
}
.main-nav .navbar .others-options .default-btn span {
  background-color: #ff612f;
}
.main-nav .navbar .others-options .optional-btn {
  margin-right: 15px;
  color: #ffffff;
}
.main-nav .navbar .others-options .optional-btn i {
  color: #ffffff;
}
.main-nav .navbar .others-options .optional-btn::before {
  border-color: #ffffff;
}
.main-nav .navbar .others-options .optional-btn span {
  background-color: #2b4486;
}
.main-nav .navbar .others-options .optional-btn:hover::before, .main-nav .navbar .others-options .optional-btn:focus::before {
  border-color: #2b4486;
}

/* Navbar toggler */
.navbar-toggler {
  border: none;
  border-radius: 0;
  padding: 0;
}
.navbar-toggler:focus {
  outline: 0 !important;
  box-shadow: none;
}
.navbar-toggler .icon-bar {
  width: 35px;
  transition: all 0.3s;
  background: #221638;
  height: 4px;
  display: block;
  border-radius: 3px;
}
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
  left: 4px;
  position: relative;
}
.navbar-toggler .middle-bar {
  opacity: 0;
  margin: 5px 0;
}
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
  left: 4px;
  position: relative;
}
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
  left: 0;
}
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
  left: 0;
}

@media only screen and (max-width: 991px) {
  .navbar-area {
    background-color: #ffffff;
    position: relative;
    border-bottom: 1px solid #eeeeee;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-area.is-sticky {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
/*================================================
About Area CSS
=================================================*/
.about-content .sub-title {
  display: block;
  color: #ff612f;
  margin-bottom: 7px;
}
.about-content h2 {
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 600;
}

.about-image {
  text-align: center;
}

.text-left {
  text-align: left;
}

.about-area .section-title.text-left {
  margin-bottom: 0;
}
.about-area .container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.about-area .container-fluid .row {
  margin-left: 0;
  margin-right: 0;
}
.about-area .container-fluid .row .col-lg-6 {
  padding-left: 0;
  padding-right: 0;
}

.about-inner-area {
  padding-top: 60px;
  padding-bottom: 60px;
}

.about-inner-image {
  height: 100%;
  background-image: url(/images/marketing-agency/about-image.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.about-inner-image img {
  display: none;
}

.about-inner-content {
  background-color: #f4e9da;
  padding: 100px;
  margin-top: -60px;
  margin-bottom: -60px;
}
.about-inner-content .content {
  max-width: 455px;
}
.about-inner-content .content h2 {
  margin-bottom: 0;
  line-height: 1.3;
  font-size: 36px;
  font-weight: 600;
}
.about-inner-content .content .features-list {
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 30px;
}
.about-inner-content .content .features-list li {
  margin-bottom: 15px;
  color: #4a6f8a;
  position: relative;
  font-size: 18px;
  font-weight: 500;
}
.about-inner-content .content .features-list li i {
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  background-color: #ffffff;
  color: #217dbb;
  margin-right: 5px;
  border-radius: 50%;
  font-size: 25px;
  text-align: center;
  transition: 0.5s;
  position: relative;
  top: 3px;
}
.about-inner-content .content .features-list li:last-child {
  margin-bottom: 0;
}
.about-inner-content .content .features-list li:hover i {
  background-color: #217dbb;
  color: #ffffff;
}

/*================================================
Services Area CSS
=================================================*/
.services-area {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.services-area.bg-right-color::before {
  position: absolute;
  right: 0;
  content: "";
  top: 0;
  width: 35%;
  height: 215%;
  z-index: -1;
  background-color: #217dbb;
  transform: skewY(-66deg);
}
.services-area.bg-left-color::before {
  position: absolute;
  left: 0;
  content: "";
  top: 0;
  width: 35%;
  height: 215%;
  z-index: -1;
  background-color: #217dbb;
  transform: skewY(66deg);
}
.services-area.bg-right-shape::before {
  position: absolute;
  right: 0;
  content: "";
  top: 0;
  width: 45%;
  height: 215%;
  z-index: -1;
  background-color: #fbfbfb;
  transform: skewY(-66deg);
}
.services-area.bg-left-shape::before {
  width: 45%;
}
.services-area__section {
  margin-bottom: 100px;
}
.services-area__right-image .row {
  justify-content: flex-end;
}
.services-area__right-image .services-image {
  padding-right: 0;
  padding-left: 0;
}
.services-area__left-image .row {
  justify-content: flex-start;
}
.services-area__left-image .services-image {
  padding-right: 0;
  padding-left: 0;
}

.services-content {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  padding-left: 15px;
  padding-right: 15px;
}
.services-content h3 {
  margin-bottom: 20px;
}
.services-content ul {
  padding-left: 0;
}
.services-content li {
  list-style-type: none;
  margin-bottom: 20px;
  padding-left: 20px;
  color: #4a6f8a;
  position: relative;
}
.services-content li i {
  color: #217dbb;
  position: absolute;
  left: 0;
  top: 3px;
}
.services-content .content {
  max-width: 630px;
  padding-left: 45px;
}
.services-content .content .icon {
  margin-bottom: 20px;
}
.services-content .content h2 {
  font-size: 40px;
  font-weight: 600;
}
.services-content .content h2 span {
  display: inline-block;
  color: #ff612f;
}
.services-content .content p {
  max-width: 435px;
  margin-top: 15px;
}
.services-content .content .default-btn {
  margin-top: 15px;
  background-color: #2b4486;
  margin-left: 5px;
}
.services-content .content.left-content {
  padding-right: 30px;
  padding-left: 0;
  margin-left: auto;
}

.services-image {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  padding-left: 15px;
  padding-right: 15px;
}
.services-image .image {
  text-align: center;
}

/*================================================
Video Presentation Area CSS
=================================================*/
@keyframes ripple {
  0% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.75);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes rotateMe {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes moveScale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
/*================================================
Features Area CSS
=================================================*/
.features-area {
  overflow: hidden;
}

.single-features-box {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 45px;
  padding: 0 20px;
}
.single-features-box .icon {
  background-color: #217dbb;
  color: #ffffff;
  position: relative;
  z-index: 1;
  width: 85px;
  height: 85px;
  font-size: 45px;
  transition: 0.5s;
  bottom: 45px;
  margin-left: auto;
  margin-right: auto;
}
.single-features-box .icon::before {
  width: 100%;
  height: 100%;
  right: -15px;
  bottom: -15px;
  border: 5px solid #217dbb;
  content: "";
  position: absolute;
  transition: 0.5s;
}
.single-features-box .icon i {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
}
.single-features-box h3 {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 600;
}

.features-box {
  overflow: hidden;
  border: 1px solid #f4f5fe;
  padding: 30px;
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
  transition: 0.5s;
  border-radius: 5px;
}
.features-box .icon {
  width: 85px;
  height: 85px;
  background-color: #bce9e5;
  color: #217dbb;
  text-align: center;
  font-size: 45px;
  position: relative;
  border-radius: 10px;
  margin-bottom: 25px;
  transition: 0.5s;
}
.features-box .icon i {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-left: auto;
  margin-right: auto;
}
.features-box h3 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
}
.features-box p {
  margin-bottom: 0;
}
.features-box .back-icon {
  position: absolute;
  right: 10px;
  top: -52px;
  z-index: -1;
  color: #217dbb;
  opacity: 0.06;
  font-size: 190px;
  line-height: 190px;
  transition: 0.5s;
}
.features-box:hover {
  background-color: #ffffff;
  border-radius: 0;
  border-color: #ffffff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
  transform: translateY(-10px);
}
.features-box:hover .icon {
  background-color: #217dbb;
  color: #ffffff;
}
.features-box:hover .back-icon {
  opacity: 0;
  visibility: hidden;
}
.features-box .read-more {
  margin-top: 5px;
  color: #217dbb;
  display: inline-block;
}
.features-box .read-more i {
  color: #217dbb;
  width: 0;
  height: 0;
  line-height: 1;
  font-size: 21px;
  margin: 0;
  top: 4px;
  position: relative;
}
.features-box .read-more:hover {
  letter-spacing: 1.1px;
}

.col-lg-4:nth-child(1) .single-features-box .icon {
  background-color: #ff612f;
}
.col-lg-4:nth-child(1) .single-features-box .icon::before {
  border-color: #ff612f;
}
.col-lg-4:nth-child(1) .features-box .icon {
  background-color: #ffd7cb;
  color: #ff612f;
}
.col-lg-4:nth-child(1) .features-box .back-icon {
  color: #ff612f;
}
.col-lg-4:nth-child(1) .features-box:hover .icon {
  background-color: #ff612f;
  color: #ffffff;
}
.col-lg-4:nth-child(3) .single-features-box .icon {
  background-color: #080a3c;
}
.col-lg-4:nth-child(3) .single-features-box .icon::before {
  border-color: #080a3c;
}
.col-lg-4:nth-child(3) .features-box .icon {
  background-color: #b2b3c3;
  color: #080a3c;
}
.col-lg-4:nth-child(3) .features-box .back-icon {
  color: #080a3c;
}
.col-lg-4:nth-child(3) .features-box:hover .icon {
  background-color: #080a3c;
  color: #ffffff;
}
.col-lg-4:nth-child(4) .single-features-box .icon {
  background-color: #fc4c86;
}
.col-lg-4:nth-child(4) .single-features-box .icon::before {
  border-color: #fc4c86;
}
.col-lg-4:nth-child(4) .features-box .icon {
  background-color: #fed2e1;
  color: #fc4c86;
}
.col-lg-4:nth-child(4) .features-box .back-icon {
  color: #fc4c86;
}
.col-lg-4:nth-child(4) .features-box:hover .icon {
  background-color: #fc4c86;
  color: #ffffff;
}
.col-lg-4:nth-child(5) .single-features-box .icon {
  background-color: #ffb300;
}
.col-lg-4:nth-child(5) .single-features-box .icon::before {
  border-color: #ffb300;
}
.col-lg-4:nth-child(5) .features-box .icon {
  background-color: #ffecbf;
  color: #ffb300;
}
.col-lg-4:nth-child(5) .features-box .back-icon {
  color: #ffb300;
}
.col-lg-4:nth-child(5) .features-box:hover .icon {
  background-color: #ffb300;
  color: #ffffff;
}
.col-lg-4:nth-child(6) .single-features-box .icon {
  background-color: #286efa;
}
.col-lg-4:nth-child(6) .single-features-box .icon::before {
  border-color: #286efa;
}
.col-lg-4:nth-child(6) .features-box .icon {
  background-color: #bcd2fd;
  color: #286efa;
}
.col-lg-4:nth-child(6) .features-box .back-icon {
  color: #286efa;
}
.col-lg-4:nth-child(6) .features-box:hover .icon {
  background-color: #286efa;
  color: #ffffff;
}

.single-features-card {
  background-color: #ffffff;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.03);
  border-radius: 35px;
  padding: 30px;
  transition: 0.5s;
  position: relative;
  height: 100%;
  margin-bottom: 30px;
}
.single-features-card:hover {
  box-shadow: 0 5px 50px 0 rgba(0, 0, 0, 0.08);
}
.single-features-card i {
  font-size: 30px;
  color: #217dbb;
  width: 70px;
  height: 70px;
  line-height: 70px;
  margin: auto;
  position: relative;
  margin-bottom: 25px;
  background: #F6F4FD;
  border-radius: 100%;
  text-align: center;
}
.single-features-card h3 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
}
.single-features-card h3 a {
  color: #2b4486;
}
.single-features-card h3 a:hover {
  color: #217dbb;
}
.single-features-card p {
  margin: 0;
}

.bg-13c4a1 {
  background-color: #217dbb;
}

.bg-6610f2 {
  background-color: #6610f2;
}

.bg-ffb700 {
  background-color: #ffb700;
}

.bg-fc3549 {
  background-color: #fc3549;
}

.bg-00d280 {
  background-color: #00d280;
}

.bg-ff612f {
  background-color: #ff612f;
}

.bg-9c27b0 {
  background-color: #9c27b0;
}

.bg-3f51b5 {
  background-color: #3f51b5;
}

.bg-e91e63 {
  background-color: #e91e63;
}

/*================================================
Pricing Area CSS
=================================================*/
.price-row .single-pricing-table {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.single-pricing-table {
  margin-bottom: 30px;
  text-align: center;
  background-color: #ffffff;
  padding-bottom: 30px;
  border-radius: 5px;
  transition: 0.5s;
}
.single-pricing-table .pricing-header {
  padding-top: 25px;
  padding-bottom: 20px;
  text-align: center;
}
.single-pricing-table .pricing-header h3 {
  margin-bottom: 0;
  font-size: 22px;
  font-weight: 600;
}
.single-pricing-table .price {
  text-align: center;
  transition: 0.5s;
  padding-top: 8px;
  padding-bottom: 5px;
  border-top: 2px dashed #f4f5fe;
  border-bottom: 2px dashed #f4f5fe;
  font-weight: 600;
  font-size: 40px;
}
.single-pricing-table .price sup {
  top: -18px;
  left: -5px;
  font-size: 18px;
  font-weight: 500;
}
.single-pricing-table .price sub {
  bottom: 2px;
  color: #4a6f8a;
  padding-right: 5px;
  font-size: 14px;
  font-weight: 500;
}
.single-pricing-table .pricing-features {
  padding-left: 0;
  text-align: left;
  list-style-type: none;
  margin-top: 30px;
  margin-bottom: 0;
  margin-left: 50px;
  margin-right: 50px;
}
.single-pricing-table .pricing-features li {
  margin-bottom: 10px;
  position: relative;
  color: #444683;
  padding-left: 25px;
}
.single-pricing-table .pricing-features li:last-child {
  margin-bottom: 0;
}
.single-pricing-table .pricing-features li i {
  color: #217dbb;
  position: absolute;
  left: 0;
  top: 3px;
}
.single-pricing-table .pricing-features li span {
  display: inline-block;
  color: #b7bad2;
  font-size: 20px;
  position: absolute;
  top: 1px;
  margin-left: 3px;
}
.single-pricing-table .btn-box {
  margin-top: 30px;
}
.single-pricing-table .btn-box i {
  color: inherit !important;
}
.single-pricing-table:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
  transform: translateY(-10px);
}
.single-pricing-table.left-align {
  text-align: left;
}
.single-pricing-table.left-align .pricing-header, .single-pricing-table.left-align .price {
  padding-left: 40px;
  padding-right: 40px;
}
.single-pricing-table.left-align .pricing-features {
  margin-left: 40px;
  margin-right: 40px;
}
.single-pricing-table.left-align .btn-box {
  text-align: center;
}
.single-pricing-table.center-align {
  text-align: center;
}
.single-pricing-table.center-align .pricing-features li {
  padding-left: 0;
  padding-right: 21px;
}
.single-pricing-table.center-align .pricing-features li i {
  left: auto;
  right: 0;
}

.pricing-list-tab .tabs {
  text-align: center;
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 40px;
}
.pricing-list-tab .tabs li {
  display: inline-block;
}
.pricing-list-tab .tabs li span {
  cursor: pointer;
  display: block;
  background-color: #ffffff;
  color: #8d8fb4;
  padding: 10px 30px 10px 53px;
  position: relative;
  border-radius: 5px;
  margin-left: -1px;
  margin-right: -1px;
  font-size: 16px;
  font-weight: 500;
}
.pricing-list-tab .tabs li span i {
  color: #ff612f;
  margin-right: 2px;
  position: absolute;
  font-size: 18px;
  top: 48%;
  transform: translateY(-48%);
  left: 30px;
}
.pricing-list-tab .tabs li.current span {
  color: #ffffff;
  background-color: #2b4486;
}
.pricing-list-tab .tabs li:nth-child(1) span {
  border-radius: 30px 0 0 30px;
}
.pricing-list-tab .tabs li:nth-child(2) span {
  border-radius: 0 30px 30px 0;
}

.tab .tabs_item {
  display: none;
}
.tab .tabs_item:first-child {
  display: block;
}

.col-lg-4:nth-child(1) .single-pricing-table .btn-box .default-btn {
  background-color: #2b4486;
}
.col-lg-4:nth-child(1) .single-pricing-table .btn-box .default-btn i {
  color: #ff612f;
}
.col-lg-4:nth-child(3) .single-pricing-table .btn-box .default-btn {
  background-color: #217dbb;
}
.col-lg-4:nth-child(3) .single-pricing-table .btn-box .default-btn i {
  color: #ff612f;
}
.col-lg-4:nth-child(3) .single-pricing-table .btn-box .default-btn span {
  background-color: #ff612f;
}
.col-lg-4:nth-child(3) .single-pricing-table .btn-box .default-btn:hover i, .col-lg-4:nth-child(3) .single-pricing-table .btn-box .default-btn:focus i {
  color: #2b4486;
}

/*================================================
FAQ Area CSS
=================================================*/
.faq-accordion {
  margin-left: auto;
  max-width: 762px;
}
.faq-accordion h2 {
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: 600;
}
.faq-accordion h2 span {
  display: inline-block;
  color: #ff612f;
}
.faq-accordion .accordion {
  border: none;
  margin-bottom: 0;
}
.faq-accordion .accordion .accordion__item {
  display: block;
  background: #f5f5ff;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
}
.faq-accordion .accordion .accordion__item:last-child {
  margin-bottom: 0;
}
.faq-accordion .accordion .accordion__button {
  background: #f5f5ff;
  padding: 18px 25px;
  color: #2b4486;
  position: relative;
  display: block;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
}
.faq-accordion .accordion .accordion__button i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #2b4486;
  font-size: 30px;
  transition: 0.5s;
}
.faq-accordion .accordion .accordion__button:hover {
  background-color: #f5f5ff;
}
.faq-accordion .accordion .accordion__button:focus {
  outline: 0;
}
.faq-accordion .accordion .accordion__button[aria-expanded=true] i {
  transform: translateY(-50%) rotate(90deg);
}
.faq-accordion .accordion .accordion__panel {
  position: relative;
  padding: 20px 25px;
  font-size: 14px;
  border-top: 1px solid #eee;
  color: #4a6f8a;
}

.faq-image {
  text-align: center;
}

.bg-color-f4f5fe {
  background-color: #f4f5fe;
}
.bg-color-f4f5fe .faq-accordion .accordion .accordion__button, .bg-color-f4f5fe .faq-accordion .accordion .accordion__panel {
  background: #ffffff;
}

/*================================================
Page Title Area CSS
=================================================*/
.page-title-area {
  background-color: #217dbb;
  position: relative;
  z-index: 1;
  padding-top: 130px;
  padding-bottom: 120px;
}
.page-title-area::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.6;
  height: 100%;
  z-index: -1;
  animation: animatedBackground 15s linear infinite;
  background-image: url(/images/bg_lines.svg);
  background-repeat: repeat;
  background-position: center center;
  background-size: cover;
}

.page-title-content {
  text-align: center;
}
.page-title-content h2 {
  color: #ffffff;
  margin-bottom: 0;
  font-size: 45px;
  font-weight: 600;
}
.page-title-content p {
  color: #ffffff;
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 18px;
}

@keyframes animatedBackground {
  0% {
    background-position: center 15%;
  }
  100% {
    background-position: 300px 15%;
  }
}
/*================================================
404 Error Area CSS
=================================================*/
.error-area {
  height: 100vh;
}

.error-content {
  text-align: center;
  margin: 0 auto;
  max-width: 700px;
}
.error-content h3 {
  font-size: 40px;
  font-weight: bold;
  margin-top: 45px;
  margin-bottom: 15px;
}
.error-content p {
  max-width: 520px;
  margin: 0 auto 25px;
}

/*================================================
Index Area CSS
=================================================*/
.login-image {
  height: 100%;
  width: 100%;
  background-image: url(/images/login-bg.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.login-image img {
  display: none !important;
}

.login-content {
  height: 100vh;
}
.login-content .login-form {
  text-align: center;
  max-width: 500px;
  margin-right: auto;
  margin-bottom: 200px;
  margin-left: auto;
}
.login-content .login-form .logo {
  margin-right: auto;
  margin-bottom: 35px;
  margin-left: auto;
  width: 120px;
}
.login-content .login-form .logo a {
  display: inline-block;
}
.login-content .login-form h3 {
  margin-bottom: 0;
  font-size: 40px;
  font-weight: 500;
}
.login-content .login-form p {
  margin-top: 7px;
  margin-bottom: 0;
}
.login-content .login-form p a {
  display: inline-block;
}
.login-content .login-form form {
  margin-top: 35px;
}
.login-content .login-form form .form-group {
  margin-bottom: 20px;
}
.login-content .login-form form .form-control {
  background-color: #ffffff;
  color: #2b4486;
  border: none;
  transition: 0.5s;
  box-shadow: 0px 5px 28.5px 1.5px rgba(149, 152, 200, 0.2) !important;
  height: 55px;
  font-size: 14px;
}
.login-content .login-form form .form-control::placeholder {
  transition: 0.5s;
}
.login-content .login-form form .form-control:focus::placeholder {
  color: transparent;
}
.login-content .login-form form .default-btn {
  display: block;
  width: 100%;
  padding-left: 25px;
}
.login-content .login-form form .forgot-password {
  text-align: right;
  margin-top: 15px;
}
.login-content .login-form form .forgot-password a {
  display: inline-block;
  color: #217dbb;
  text-decoration: underline;
}
.login-content .login-form form .forgot-password a:hover {
  color: #ff612f;
}
.login-content .login-form form .connect-with-social {
  margin-top: 15px;
}
.login-content .login-form form .connect-with-social a {
  display: block;
  width: 100%;
  position: relative;
  border: 1px solid #217dbb;
  background-color: transparent;
  transition: 0.5s;
  padding: 11px 30px;
  border-radius: 2px;
  color: #217dbb;
  font-weight: 500;
}
.login-content .login-form form .connect-with-social a i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  font-size: 20px;
}
.login-content .login-form form .connect-with-social a.facebook {
  border-color: #3b5998;
  color: #3b5998;
}
.login-content .login-form form .connect-with-social a.facebook:hover {
  background-color: #3b5998;
  color: #ffffff;
  border-color: #3b5998;
}
.login-content .login-form form .connect-with-social a.google {
  margin-top: 10px;
  border-color: #EA4335;
  color: #EA4335;
}
.login-content .login-form form .connect-with-social a.google:hover {
  background-color: #EA4335;
  color: #ffffff;
  border-color: #EA4335;
}
.login-content .login-form form .connect-with-social a:hover {
  background-color: #217dbb;
  color: #ffffff;
  border-color: #217dbb;
}

/*================================================
Features Area CSS
=================================================*/
.subscribe-content {
  position: relative;
  z-index: 1;
  border-radius: 30px;
  text-align: center;
  background-color: #ff612f;
}
.subscribe-content h2 {
  color: #ffffff;
  max-width: 1200px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  font-size: 56px;
  font-weight: 600;
}
.subscribe-content form {
  max-width: 600px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
.subscribe-content form .row {
  margin-left: -7px;
  margin-right: -7px;
}
.subscribe-content form .row .col-lg-8, .subscribe-content form .row .col-lg-4, .subscribe-content form .row .col-lg-12 {
  padding-left: 7px;
  padding-right: 7px;
}
.subscribe-content form #validator-newsletter {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -30px;
  color: #ffffff;
}
.subscribe-content form .input-newsletter {
  display: block;
  width: 100%;
  border: none;
  height: 50px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #c32f00;
  padding: 0 0 0 15px;
  font-size: 14px;
  font-weight: 500;
}
.subscribe-content form .input-newsletter::placeholder {
  color: #ffffff;
  transition: 0.5s;
}
.subscribe-content form .input-newsletter:focus::placeholder {
  color: transparent;
}
.subscribe-content form button {
  background-color: #2b4486;
  color: #ffffff;
  transition: 0.5s;
  border: none;
  border-radius: 5px;
  height: 50px;
  padding: 0 0;
  line-height: 50px;
  display: block;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
}
.subscribe-content form button i {
  margin-right: 2px;
  color: #ff612f;
  font-size: 20px;
  transition: 0.5s;
  position: relative;
  top: 4px;
}
.subscribe-content form button:hover, .subscribe-content form button:focus {
  background-color: #217dbb;
}
.subscribe-content form button:hover i, .subscribe-content form button:focus i {
  color: #2b4486;
}
.subscribe-content__siere {
  background-color: #ffffff;
}
.subscribe-content__siere h2 {
  color: #2b4486;
}
.subscribe-content__siere .default-btn {
  background-color: #ff612f;
  color: #ffffff;
  border: none;
  position: relative;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  border-radius: 10px;
  font-weight: 500;
  font-size: 15px;
  margin-top: 36px;
  padding-left: 50px;
  padding-right: 25px;
  padding-top: 13px;
  padding-bottom: 13px;
}
.subscribe-content__siere .default-btn i {
  position: absolute;
  left: 25px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-right: 2px;
  color: #ffffff;
  font-size: 20px;
  transition: 0.5s;
}
.subscribe-content__siere .default-btn span {
  background-color: #217dbb;
}
.subscribe-content__siere .default-btn:hover i, .subscribe-content__siere .default-btn:focus i {
  color: #ffffff;
}

/*================================================
Contact Area CSS
=================================================*/
.contact-inner {
  background-color: #ffffff;
  box-shadow: 0 10px 35px 5px rgba(137, 173, 255, 0.15);
  padding: 50px 30px;
}

.contact-features-list {
  padding-right: 15px;
  border-right: 1px solid #eeeeee;
}
.contact-features-list h3 {
  margin-bottom: 12px;
  font-size: 24px;
}
.contact-features-list p {
  margin-bottom: 10px;
}
.contact-features-list p:last-child {
  margin-bottom: 0;
}
.contact-features-list ul {
  padding-left: 0;
  list-style-type: none;
  margin-top: 25px;
  margin-bottom: 0;
}
.contact-features-list ul li {
  color: #4a6f8a;
  margin-bottom: 12px;
  position: relative;
  padding-left: 20px;
}
.contact-features-list ul li i {
  color: #217dbb;
  position: absolute;
  left: 0;
  top: 4px;
}
.contact-features-list ul li:last-child {
  margin-bottom: 0;
}

.contact-form h2 {
  margin-bottom: 25px;
}
.contact-form form .row {
  margin-left: -7px;
  margin-right: -7px;
}
.contact-form form .row .col-lg-6, .contact-form form .row .col-lg-12 {
  padding-left: 7px;
  padding-right: 7px;
}
.contact-form form .form-group {
  margin-bottom: 15px;
}
.contact-form form .form-control {
  height: 48px;
  padding: 0 15px;
  line-height: initial;
  color: #2b4486;
  background-color: transparent;
  border: 1px solid #cecfdf;
  border-radius: 5px;
  transition: 0.5s;
  box-shadow: unset !important;
  font-size: 14px;
  font-weight: 400;
}
.contact-form form .form-control:focus {
  border-color: #217dbb;
}
.contact-form form .form-control::placeholder {
  color: #999999;
}
.contact-form form textarea.form-control {
  height: auto !important;
  padding-top: 15px;
}
.contact-form .with-errors ul {
  padding-left: 0;
  list-style-type: none;
  margin-top: 5px;
  margin-bottom: 0;
}
.contact-form .with-errors ul li {
  color: red;
}
.contact-form #msgSubmit {
  margin-bottom: 0;
  font-size: 22px;
  font-weight: 500;
}
.contact-form #msgSubmit.text-danger {
  margin-top: 5px;
}

.contact-info {
  text-align: center;
  margin-top: 50px;
}
.contact-info .contact-info-content h3 {
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 400;
}
.contact-info .contact-info-content h2 {
  margin-bottom: 0;
  font-size: 40px;
  font-weight: 500;
}
.contact-info .contact-info-content h2 .number {
  display: inline-block;
  color: #217dbb;
}
.contact-info .contact-info-content h2 .email {
  color: #ff612f;
  display: inline-block;
}
.contact-info .contact-info-content h2 .or {
  display: block;
  color: #4a6f8a;
  margin-top: 5px;
  margin-bottom: 2px;
  font-size: 15px;
  font-weight: 500;
}
.contact-info .contact-info-content .social {
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 25px;
}
.contact-info .contact-info-content .social li {
  display: inline-block;
  margin: 0 5px;
}
.contact-info .contact-info-content .social li a {
  width: 40px;
  display: block;
  height: 40px;
  border: 1px solid #dadada;
  border-radius: 50%;
  color: #aba5a5;
  font-size: 20px;
  position: relative;
}
.contact-info .contact-info-content .social li a i {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-left: auto;
  margin-right: auto;
}
.contact-info .contact-info-content .social li a:hover {
  color: #ffffff;
  border-color: #217dbb;
  background-color: #217dbb;
}

/*================================================
Footer Area CSS
=================================================*/
.footer-area {
  background-color: rgba(33, 125, 187, 0.2);
  position: relative;
  z-index: 1;
  padding-top: 80px;
}
.footer-area__footer-logo {
  display: flex !important;
  align-items: center;
}
.footer-area__footer-logo__text {
  font-size: 28px;
  color: #2b4486;
  font-weight: bold;
}
.footer-area__description {
  color: #000000;
}

.single-footer-widget {
  margin-bottom: 30px;
}
.single-footer-widget h3 {
  color: #2b4486;
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 22px;
}
.single-footer-widget .logo {
  margin-bottom: 15px;
}
.single-footer-widget .logo a {
  display: inline-block;
}
.single-footer-widget .services-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.single-footer-widget .services-list li {
  color: #acc5db;
  margin-bottom: 10px;
}
.single-footer-widget .services-list li:last-child {
  margin-bottom: 0;
}
.single-footer-widget .services-list li a {
  display: inline-block;
  color: #000000;
}
.single-footer-widget .services-list li a:hover {
  color: #217dbb;
  padding-left: 5px;
}
.single-footer-widget .support-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.single-footer-widget .support-list li {
  color: #acc5db;
  margin-bottom: 10px;
}
.single-footer-widget .support-list li:last-child {
  margin-bottom: 0;
}
.single-footer-widget .support-list li a {
  display: inline-block;
  color: #000000;
}
.single-footer-widget .support-list li a:hover {
  color: #217dbb;
  padding-left: 5px;
}
.single-footer-widget .footer-contact-info {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.single-footer-widget .footer-contact-info li {
  color: #000000;
  margin-bottom: 10px;
}
.single-footer-widget .footer-contact-info li:last-child {
  margin-bottom: 0;
}
.single-footer-widget .footer-contact-info li a {
  display: inline-block;
  color: #000000;
}
.single-footer-widget .footer-contact-info li a:hover {
  color: #217dbb;
}
.single-footer-widget .social {
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 20px;
}
.single-footer-widget .social li {
  display: inline-block;
  margin-right: 8px;
}
.single-footer-widget .social li a {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 33px;
  background-color: #217dbb;
  color: #ffffff;
  text-align: center;
  font-size: 17px;
  border-radius: 2px;
}
.single-footer-widget .social li a:hover {
  color: #2b4486;
  background-color: #ffffff;
}

.footer-item__disable {
  cursor: not-allowed;
}
.footer-item__disable a {
  pointer-events: none;
}

.copyright-area {
  border-top: 1px solid #acc5db;
  text-align: center;
  margin-top: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.copyright-area p {
  line-height: initial;
  color: #acc5db;
}
.copyright-area p a {
  display: inline-block;
  color: #ff612f;
}
.copyright-area p a:hover {
  color: #217dbb;
}

@keyframes imageChange {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes imageChangeTwo {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*================================================
Go Top CSS
=================================================*/
.back-to-top .top {
  position: fixed;
  cursor: pointer;
  bottom: 15px;
  right: 15px;
  color: #2b4486;
  background-color: #ffffff;
  z-index: 4;
  width: 45px;
  text-align: center;
  height: 45px;
  border-radius: 50%;
  font-size: 40px;
  transition: 0.9s;
  line-height: 55px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}
.back-to-top .top:hover {
  background-color: #ff612f;
  color: #ffffff;
  transition: 0.5s;
  transform: translateY(-10px);
}

/*================================================
SaaS home Page CSS
=================================================*/
.black-btn {
  background-color: #2b4486 !important;
}
.black-btn span {
  background-color: #217dbb !important;
}
.black-btn i {
  color: #ffffff;
}

/*================================================
Digital Agency Banner Area CSS
=================================================*/
.digital-agency-banner {
  position: relative;
  padding-top: 420px;
  padding-bottom: 80px;
  background-image: url(/images/siere-pos/woman_working.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.digital-agency-banner-content {
  max-width: 940px;
  position: relative;
}
.digital-agency-banner-content h1 {
  color: #ffffff;
  margin-bottom: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  font-size: 57px;
  font-weight: 700;
}
.digital-agency-banner-content p {
  color: #ffffff;
}
.digital-agency-banner-content .default-btn {
  margin-top: 30px;
}

/*================================================
Company Preview Area SiereSofit CSS
=================================================*/
.company-preview-area__siere {
  position: relative;
  z-index: 1;
  background-image: url(/images/bar.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 180px;
  padding-bottom: 180px;
}
.company-preview-area__siere::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  bottom: 0;
  background-color: #000000;
  opacity: 0.8;
}
.company-preview-area__siere__card-wrap:nth-child(odd) {
  padding-right: 120px;
}
.company-preview-area__siere__card-wrap:nth-child(even) {
  padding-left: 120px;
}

.company-preview-area__card {
  color: #ffffff;
  margin-bottom: 60px;
}
.company-preview-area__card-title, .company-preview-area__card-text {
  color: inherit;
}
.company-preview-area__card-title {
  display: flex;
  align-items: flex-start;
}
.company-preview-area__card-title .bx {
  line-height: 1.2;
}
.company-preview-area__card-title__text {
  display: inline-block;
  margin-left: 10px;
}
.company-preview-area__card-text {
  margin-top: 10px;
  margin-left: 35px;
  font-size: 18px;
  line-height: 1.7;
}

/*================================================
Company Preview Area CSS
=================================================*/
.company-preview-area {
  position: relative;
  z-index: 1;
  background-image: url(/images/marketing-agency/company-preview.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 265px;
  padding-bottom: 265px;
}
.company-preview-area::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  bottom: 0;
  background-color: #000000;
  opacity: 0.8;
}

/*# sourceMappingURL=style.css.map */
